Repository shunto-ishiguro/trip-plan-app: changes, and which lefthook commands are due for each by the changed paths.
All: biome, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,jsx,ts,tsx,json,css}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    go-fmt:
      glob: "*.go"
      root: "apps/api/"
      run: gofmt -w {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    biome-check:
      run: pnpm lint
    go-lint:
      root: "apps/api/"
      run: golangci-lint run

fix: update golangci-lint config for v2 and fix lint errors
  apps/api/.golangci.yml
  apps/api/main.go
  lefthook.yml
Due: go-fmt

CI設定の更新とGo依存関係の整理
  .github/workflows/ci.yml
  apps/api/.golangci.yml
  apps/api/go.mod
  apps/api/go.sum
Due: none

golangci-lint v2のスキーマエラーを修正
  apps/api/.golangci.yml
Due: none

fix: プロジェクト初期設定の修正
  README.md
  apps/api/.golangci.yml
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  apps/web/package.json
  pnpm-lock.yaml
Due: biome

プロジェクト初期セットアップの改善
  .env.example
  README.md
  apps/api/.golangci.yml
  apps/api/README.md
  apps/api/go.mod
  apps/mobile/README.md
  apps/mobile/package.json
  apps/web/README.md
  apps/web/pnpm-workspace.yaml
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: biome

ナビゲーション構造と画面コンポーネントを実装
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/components/BudgetItemCard.tsx
  apps/mobile/src/components/ChecklistItemRow.tsx
  apps/mobile/src/components/FAB.tsx
  apps/mobile/src/components/ReservationCard.tsx
  apps/mobile/src/components/ShareSheet.tsx
  apps/mobile/src/components/SpotCard.tsx
  apps/mobile/src/components/TripCard.tsx
  apps/mobile/src/components/index.ts
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/navigation/TripTabNavigator.tsx
  apps/mobile/src/navigation/index.ts
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/AddBudgetItemScreen.tsx
  apps/mobile/src/screens/AddChecklistItemScreen.tsx
  apps/mobile/src/screens/AddReservationScreen.tsx
  apps/mobile/src/screens/AddSpotScreen.tsx
  apps/mobile/src/screens/BudgetScreen.tsx
  apps/mobile/src/screens/ChecklistScreen.tsx
  apps/mobile/src/screens/ReservationsScreen.tsx
  apps/mobile/src/screens/ScheduleScreen.tsx
  apps/mobile/src/screens/SettingsScreen.tsx
  apps/mobile/src/screens/TripCreateScreen.tsx
  apps/mobile/src/screens/TripListScreen.tsx
  apps/mobile/src/screens/index.ts
  apps/mobile/src/types/index.ts
  apps/mobile/tsconfig.json
  docs/page-structure.md
  pnpm-lock.yaml
Due: biome

未使用インポートとリント警告を修正
  apps/mobile/App.tsx
  apps/mobile/src/components/BudgetItemCard.tsx
  apps/mobile/src/components/ChecklistItemRow.tsx
  apps/mobile/src/components/FAB.tsx
  apps/mobile/src/components/ReservationCard.tsx
  apps/mobile/src/components/ShareSheet.tsx
  apps/mobile/src/components/SpotCard.tsx
  apps/mobile/src/components/TripCard.tsx
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/screens/AddBudgetItemScreen.tsx
  apps/mobile/src/screens/AddChecklistItemScreen.tsx
  apps/mobile/src/screens/AddReservationScreen.tsx
  apps/mobile/src/screens/AddSpotScreen.tsx
  apps/mobile/src/screens/BudgetScreen.tsx
  apps/mobile/src/screens/ChecklistScreen.tsx
  apps/mobile/src/screens/ReservationsScreen.tsx
  apps/mobile/src/screens/ScheduleScreen.tsx
  apps/mobile/src/screens/SettingsScreen.tsx
  apps/mobile/src/screens/TripCreateScreen.tsx
  apps/mobile/src/screens/TripListScreen.tsx
Due: biome

マイグレーションとシードデータを追加
  apps/supabase/migrations/20250401000000_init.sql
  apps/supabase/migrations/20250402000000_collaborative.sql
  apps/supabase/migrations/20250403000000_passphrase_sharing.sql
  apps/supabase/seed.sql
Due: none

Elysia.js APIにルート・認証・レート制限を実装
  apps/api/README.md
  apps/api/drizzle.config.ts
  apps/api/package.json
  apps/api/src/broadcast.ts
  apps/api/src/index.ts
  apps/api/src/jwt.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/middleware/authorize.ts
  apps/api/src/middleware/rateLimit.ts
  apps/api/src/routes/auth.ts
  apps/api/src/routes/budgetItems.ts
  apps/api/src/routes/checklistItems.ts
  apps/api/src/routes/reservations.ts
  apps/api/src/routes/shareJoin.ts
  apps/api/src/routes/shareSettings.ts
  apps/api/src/routes/spots.ts
  apps/api/src/routes/tripMembers.ts
  apps/api/src/routes/trips.ts
  apps/api/src/routes/ws.ts
  apps/api/src/schema.ts
  apps/api/src/validators.ts
Due: biome

アーキテクチャ・ページ構成・READMEを新構成に合わせて更新
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/page-structure.md
Due: none

依存関係更新、biome設定調整、envテンプレート整備
  .env.example
  .github/dependabot.yml
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome

biome.jsonのスキーマバージョンを2.3.15に更新
  biome.json
Due: biome

pnpm workspace 廃止・biome を mobile に移動・lefthook スタンドアロン化
  .github/workflows/ci.yml
  .gitignore
  .node-version
  apps/mobile/biome.json
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  lefthook.yml
  package.json
  pnpm-workspace.yaml
  turbo.json
Due: biome

ドキュメント整備: Mermaid 図化・開発ガイド分離・README 簡素化
  CLAUDE.md
  README.md
  apps/mobile/README.md
  docs/architecture.md
  docs/development.md
  docs/page-structure.md
Due: none

fix(ci): golangci-lint エラー修正と pnpm バージョン指定を追加
  apps/api/.golangci.yml
  apps/api/internal/handler/auth.go
  apps/api/internal/handler/trips.go
  apps/api/internal/handler/ws.go
  apps/api/internal/middleware/rate_limit.go
  apps/api/internal/middleware/rate_limit_test.go
  apps/mobile/package.json
Due: biome, go-fmt

fix(ci): golangci-lint v2 config 削除と pnpm バージョン明示
  .github/workflows/ci.yml
  apps/api/.golangci.yml
Due: none
